<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font-awesome library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <title>JS Array Carousel</title>
</head>

<body>
    
    <div id="app">
        <div id="container">
            <div id="slide" @mouseover="stopAutoPlay" @mouseleave="autoPlay">
                <!-- Big image preview carousel -->
                <div id="itemContainer">
                    <div class="item">
                        <img :src="games[activePosition].image" alt="image">
                        <div v-if="hover === true" class="overImg">
                            <div class="imgInfo imgTitle">{{games[activePosition].title}}</div>
                            <div class="imgInfo">{{games[activePosition].text}}</div>
                        </div>
                    </div>
                </div>
                <!-- Thumbnail slide -->
                <div id="thumbnailSlide">       
                    <div id="thumbnailContainer">
                        <div v-for="(game, index) in games" :class="activePosition === index ? 'thumbActive':''" class="thumbnail" @click="activePosition = index">
                            <img :src="game.image" alt="image">
                        </div>
                    </div>
                    <!-- BUTTONS -->
                    <button id="buttonUp" @click="buttonUpFunc">
                        <i class="fa-solid fa-arrow-up"></i>
                    </button>
                    <button id="buttonDown" @click="buttonDownFunc">
                        <i class="fa-solid fa-arrow-down"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>